@import "./imports/_normalize.scss";

*{ box-sizing: border-box }
img {
   width: 100%;
   display: block;
}

#app-container{
   h1{
      font-weight: 900;
      font-size: 2.5em;
   }
}

.page-header{
   text-align: center;
}

input.form-control{
   display: inline-block;
   width: 50%;
   font-size: 2.2rem;
   line-height: 4rem;
   height: 4rem;
   margin: 0 auto;
}


button{

}
